#content
    display: flex
#side_content
    @include make-col(4)
    a
        color: white
    .action-button
        @include make-col(12)
#main_content
    @include make-col(8)
    .twocol-split
        display: inline
        div
        @include make-col(6)
