{% extends 'base.html' %}
{% block pageSpecificStyles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/jquery-te-1.4.0.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/jqte_overrides.css')}}"/>
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        {{recipie}}
       
        <h1>{% if edit == '1' %}Edit {% else %}Add{% endif %} a recipie</h1>
        <div id="form-container">
            <form method="POST" action="{{url_for('submit')}}">
                <div class="form-group">
                    <label class="label" for="recipie_title">Recipie Title</label>
                    <input class="form-control" type="text" placeholder="Recipie Title" name="recipie_title" id="recipie_title" value="{{recipie['recipie_title']}}">
                </div>
                <div class="form-group">
                        <label class="label" for="recipie_description">Recipie Description</label>
                        <div class="control">
                            <textarea class="form-control" name="recipie_description" placeholder="Please enter a short description of the recipie" value="">{{recipie['recipie_description']}}</textarea>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="label" for="recipie_instructions">Cooking Instructions</label>
                    <div class="control">
                        <textarea class="form-control" name="recipie_instructions" placeholder="Please enter cooking instructions">{{recipie['recipie_instructions']}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                        <label class="label" for="recipie_ingredients">Recipie Ingredients</label>
                        <textarea class="form-control"  name="recipie_ingredients" id="recipie_ingredients" placeholder="Recipie Ingredients">{{recipie['recipie_ingredients']}}</textarea>
                </div>
                <div class="form-group">
                    <label class="label" for="recipie_allergins">Does this recipie contain any of the following allergins (Tick all that apply)</label>
                    <div class="control">
                    {% for allergin in allerginlist %}
                   
                    <label class="checkbox">
                    <input type="checkbox" name="recipie_allergins" class="form-check form-check-inline"
                    {% for v in recipie['recipie_allergins'] %}
                        {% if v == allergin %} checked="checked" {% endif %} 
                    {% endfor %}
                    value="{{allergin}}"/>  
                        {{allergin}}
                    </label>
                     <br/>
                    {% endfor %}
                    
                    
                    </div>
                </div>
                <div class="select-group">
                    <label class="label" for="recipie_difficulty">How difficult is this recipie?</label>
                    {% set diff = recipie['recipie_difficulty'] %}
                    <select name="recipie_difficulty" id="recipie_difficulty">
                        <option value=''>Please Select..</option>
                        <option value="Easy" {% if diff == 'Easy' %} selected="selected" {% endif %}>Easy</option>
                        <option value="Medium" {% if diff == 'Medium' %} selected="selected" {% endif %}>Medium</option>
                        <option value="Hard" {% if diff == 'Hard' %} selected="selected" {% endif %}>Hard</option>
                    </select>
                </div>
                <div class="form-group">
                    {% set c_date  = recipie['createdDate'] %}
                    {% if c_date == null  %}
                        <input type="hidden" name="createdDate" value="{{date}}"/>
                    {% else %}
                        <input type="hidden" name="createdDate" value="{{recipie['createdDate']}}"/>
                    {% endif %}
                    {% if edit == '1' %}
                        <input type="hidden" name="updated_date" value="{{date}}"/>
                        <input type="hidden" name="recipie_id" value="{{recipie['_id']}}"/>
                        {% if recipie['likes'] != 'None' %}
                        <input type="hidden" name="likes" value="{{recipie['likes']}}"/>
                        {% else %}
                        <input type="hidden" name="likes" value="0"/>
                        {% endif %}
                        {% if recipie['dislikes'] != 'None' %}
                        <input type="hidden" name="dislikes" value="{{recipie['dislikes']}}"/>
                        {% else %}
                        <input type="hidden" name="dislikes" value="0"/>
                        {% endif %}
                        
                    {% endif %}
                    <button class="btn btn-success">Submit</button>
                    <button class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
        
    </div>
  </section>
{% endblock %}

{% block page_scripts %}
<script src="{{url_for('static', filename='js/vendor/jquery-te-1.4.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts/form_methods.js')}}"></script>

{% endblock %}