{% extends 'base.html' %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}
<main>
<h1>Statistics</h1>
<button class="btn btn-danger" onClick="resetchart()">RESET</button>
<div class="container">
    <div class="row">
        <h2>Number of recipies per difficulty</h2>
        <br/>
        <div id="difficultychart">
            
        </div>

        <h2>Number of recipies per mealtype</h2>
        <br/>
        <div id="mealtypechart"></div>
    </div>
</div>
    
    
<button class="btn btn-danger" onClick="resetchart()">RESET</button>
</main>

{% endblock %}
{% block page_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.6/crossfilter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<script src="{{url_for('static', filename='js/scripts/graphs.js')}}"></script>
{% endblock %}